.offers {margin: 162px;
}
.container {
max-width: 160px;
margin: 0 auto;
}
.offers__content {
}
.offers__main-title {
}
.offers__card {
}
.offers__image {justify-content: space-between;



}
.offers__title {
}
.offers__text {
}